html, body {
  font-family: uzura;
  font-size: 17px;
}

p {
  font-size:16px; line-height: 1.7
}

h3 {
  font-size: 18px;
}

.container {
  margin: 0px 15%;
}

#main-container {
  width: 80%;
  margin: 0 auto;
  font-family: 'Alegreya SC', serif;
  text-align: center;
}

#top-image {
  max-height: 400px;
}

#top { 
  font-family: uzura;
}

#information {
  margin-top: 50px;
  font-family: uzura;
}

.no-bullets {
  list-style-type: none;
  padding: 0px;
  font-size: 16px;
}

#information h3 {
  font-family: 'Alegreya', serif;
  font-weight: 100;
}

#concept {
  margin-top: 50px;
  font-family: uzura;
}

form {
  font-family: uzura;
}

input, textarea { 
    padding: 9px; 
    border: solid 1px #E5E5E5 !important; 
    outline: 0; 
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
    width: 300px !important; 
    background: #FFFFFF; 
    } 
   
textarea { 
    width: 600px; 
    max-width: 600px; 
    height: 150px; 
    line-height: 150%; 
    } 
   
input:hover, textarea:hover, 
input:focus, textarea:focus { 
    border-color: #C9C9C9; 
    } 
   
.form label { 
    margin-left: 10px; 
    color: #999999; 
    } 
   
.submit input { 
    width: auto; 
    padding: 9px 15px; 
    background: #617798; 
    border: 0; 
    font-size: 14px; 
    color: #FFFFFF; 
    }

.lisket-form-maker-form {     
  margin: 30px auto 0px;
  display: table;
}    

footer {
  margin: 50px 0px 10px;
  font-family: 'Alegreya SC', serif;
  font-size: 15px;
}

@font-face {
  font-family: uzura;
  src: url(../fonts/uzura.ttf);
}

nav li {
  display: inline;
  margin: 0px 20px;
  font-size: 18px;
}

nav li a {
  font-size: 17px;
  color: black;
  font-family: 'Alegreya SC', serif;
  text-decoration: none;
}